<ion-header class="ion-no-border" no-shadow>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="closeModal()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>

    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="animated fadeIn">
  <div>
    <h6>Safety</h6>
    <ul class="my-nav">
      <li>Cats must be presented to the Driver in an enclosed Cat Carrier.</li>
      <li>Dogs must be handed over wearing a body harness & leash.</li>
      <li>All Drivers have seat belt adapters that Carriers and Harnesses clip into.</li>
      <li>This service is for unaccompanied pets to get to pre-booked appointments or locations. We are not licensed to
        transport Humans with their pets.</li>
      <li>This is not an animal ambulance service. If a pet is ill, please phone an Animal Ambulance or a Mobile Vet.
      </li>
      <li>Please ensure Grooming & Vet Appointments have been pre-booked before scheduling a Pet Taxi ride.</li>
      <li>If a pet vomits or toilets, a cleaning fee of $100 is payable by the Pet Owner.</li>
      <li>No Aggressive Dogs.</li>
      <li>Posting a Job for a Pet Taxi is only confirmed once an available Driver accepts the Booking which notifies you
        and you fund your PetCloud wallet with adequate credits for the trip.</li>
    </ul>
  </div>

  <div>
    <h6>What's Included?</h6>
    <ul class="my-nav">
      <li>Booking Admin fee</li>
      <li>Public liability & Pet Transit Insurance</li>
      <li>Trained, Police checked, Australian licensed Pet Taxi Driver.</li>
    </ul>
  </div>

  <div>
    <h6>Additional Charges, only if applicable</h6>
    <ul class="my-nav">
      <li>Toll Fees: actual cost incurred.</li>
      <li>Cancellation Fee: $10.
      <li>Extra waiting charges: $1 per min. Starts after 5 mins of waiting.</li>
      <li>Pet Mess Cleaning fee $100.</li>
    </ul>
  </div>

</ion-content>