<ion-header class="ion-no-border">
  <ion-toolbar mode="md">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/login"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-grid class="login">
    <ion-row class="ion-margin-vertical ion-padding-bottom">
      <ion-col>
        <h1 class="ion-text-start text-theme fw-400">Enter your registered email address</h1>
      </ion-col>
    </ion-row>
    <ion-row class="ion-margin-vertical">
      <ion-col>
        <!-- <p class="resetinfo">Enter your email address. A link will be sent to your email address so that you can reset
          your password.</p> -->
        <form [formGroup]="resetForm">
          <div>
            <ion-label position="stacked" class="ion-text-uppercase text-grey-1">Email address</ion-label>
            <ion-input id="email" class="custom-input" inputmode="email" formControlName="email" placeholder="someone@example.com">
            </ion-input>
          </div>
          <ion-text lines="none" class="animated fadeInUp"
          *ngIf="(resetForm.get('email').hasError('required') && (resetForm.get('email').dirty || resetForm.get('email').touched)
           || resetForm.get('email').hasError('email'))"
           >
          <p class="error"
            *ngIf="(resetForm.get('email').hasError('required') && (resetForm.get('email').dirty || resetForm.get('email').touched))"
          >
            Enter email address.
          </p>
          <p class="error"
            *ngIf="((resetForm.get('email').dirty || resetForm.get('email').touched) && resetForm.get('email').hasError('email'))"
          >
            Enter correct email address format.
          </p>
        </ion-text>
          <div class="btn-wrapper">
            <ion-button expand="full" color="theme" [disabled]="!resetForm.valid" (click)="resetPassword()">
              Send reset link
            </ion-button>
          </div>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
  <!-- <ion-fab vertical="bottom" horizontal="end" slot="fixed" class="ion-padding-bottom">
    <ion-fab-button color="white" (click)="resetPassword()"
      [disabled]="!resetForm.valid">
      <ion-icon name="arrow-forward"></ion-icon>
    </ion-fab-button>
  </ion-fab> -->
</ion-content>