.msg {
  font-weight: 600;
  text-align: center;
}
ion-card {
  box-shadow: none;
}
ion-grid, ion-row, ion-col {
  margin: 0px;
  padding: 0px;
}
.petList {
  .petItem {
    .petProfile {
      --border-radius: 50%;
    }

    .petName {
      font-weight: 600;
      font-size: 16px;
      color: #4A4A4A;
      letter-spacing: 0;
      text-decoration: none;
    }
  }
}
ion-grid {
  padding-bottom: calc(env(safe-area-inset-bottom) + 10px);
}