<ion-header class="ion-no-border">
  <ion-toolbar mode="md">
    <ion-buttons defaultHref="/login"  slot="start">
      <ion-back-button defaultHref="/login"  ></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-grid class="login">
    <ion-row>
      <ion-col class="header-text">
        <h1 class="ion-text-start text-theme fw-400">Share your basic details</h1>
      </ion-col>
    </ion-row>
    <ion-row class="ion-margin-vertical">
      <ion-col>
      
        <form [formGroup]="signupForm">
          <div class="forgot-password">
            <ion-label position="stacked" class="ion-text-uppercase text-grey-1">First name</ion-label>
            <ion-input class="custom-input" inputmode="text" id="first_name" formControlName="first_name" placeholder="First Name">
            </ion-input>
          </div>
          <ion-text lines="none" class="animated fadeInUp error"
            *ngIf="(signupForm.get('first_name').hasError('required') && (signupForm.get('first_name').dirty || signupForm.get('first_name').touched))"
          >
            Enter first name.
          </ion-text>

          <div class="forgot-password">
            <ion-label position="stacked" class="ion-text-uppercase text-grey-1">Email address</ion-label>
            <ion-input type="email" inputmode="email" class="custom-input" id="email" formControlName="email" placeholder="Email">
            </ion-input>
          </div>
          <ion-text lines="none" class="animated fadeInUp error"
            *ngIf="signupForm.get('email').hasError('required') && (signupForm.get('email').dirty || signupForm.get('email').touched)"
          >
            Enter email address.
          </ion-text>
          <ion-text lines="none" class="animated fadeInUp error"
            *ngIf="signupForm.get('email').hasError('email') && (signupForm.get('email').dirty || signupForm.get('email').touched)"
          >
            Enter correct email address format.
          </ion-text>

          <div class="forgot-password">          
            <ion-label position="stacked" class="ion-text-uppercase text-grey-1">Mobile Number</ion-label>
            <div class="mobileInput">
                <ion-text>+61 </ion-text>
                <ion-input type="text" inputmode="tel" class="custom-input" id="mobile" formControlName="mobile" placeholder="Mobile Number">
                </ion-input>
            </div>           
          </div>
          <ion-text lines="none" class="animated fadeInUp error"
            *ngIf="signupForm.get('mobile').hasError('required') && (signupForm.get('mobile').dirty || signupForm.get('mobile').touched)"
          >
            Enter mobile phone number.
          </ion-text>
          <ion-text lines="none" class="animated fadeInUp error"
            *ngIf="signupForm.get('mobile').hasError('pattern') && (signupForm.get('mobile').dirty || signupForm.get('mobile').touched)"
          >
          Enter proper mobile phone number.
          </ion-text>

          <div class="forgot-password">
            <ion-label position="stacked" class="ion-text-uppercase text-grey-1">Password</ion-label>
            <ion-input class="custom-input" inputmode="text" type="password" formControlName="password" id="password"
              placeholder="Password"></ion-input>
          </div>
          <ion-text lines="none" class="animated fadeInUp error"
            *ngIf="signupForm.get('password').hasError('required') && (signupForm.get('password').dirty || signupForm.get('password').touched)"
          >
            Enter password.
          </ion-text>
          <ion-text lines="none" class="animated fadeInUp error"
            *ngIf="signupForm.get('password').hasError('minlength') && (signupForm.get('password').dirty || signupForm.get('password').touched)"
          >
            Enter proper minimum 6 char long password.
          </ion-text>

          <div class="forgot-password">
            <ion-label position="stacked" class="ion-text-uppercase text-grey-1">Retype Password</ion-label>
            <ion-input class="custom-input" inputmode="text" type="password" formControlName="reTypePassword" id="reTypePassword"
              placeholder="Retype Password">
            </ion-input>
          </div>
          <ion-text lines="none" class="animated fadeInUp error"
            *ngIf="(signupForm.get('reTypePassword').hasError('required') 
            && (signupForm.get('reTypePassword').dirty || signupForm.get('reTypePassword').touched))"
          >
            Enter Retype password
          </ion-text>
          <ion-text lines="none" class="animated fadeInUp error"
            *ngIf="!signupForm.get('reTypePassword').hasError('required') && !isPassMatch() 
            && (signupForm.get('reTypePassword').dirty || signupForm.get('reTypePassword').touched)"
          >
            Passwords don’t match
          </ion-text>
          <div class="btn-wrapper">
            <ion-button color="theme" [disabled]="!signupForm.valid || !isPassMatch()" (click)="signupUser()">
              Sign Up
            </ion-button>
          </div>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
  <!-- <ion-fab vertical="bottom" horizontal="end" slot="fixed" class="ion-padding-bottom">
    <ion-fab-button color="white" [disabled]="!signupForm.valid" (click)="signupUser()">
      <ion-icon name="arrow-forward"></ion-icon>
    </ion-fab-button>
  </ion-fab> -->
</ion-content>