<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button (click)="backButtonNavigate()" defaultHref="home"></ion-back-button>
        </ion-buttons>
        <ion-title>Payout Preference</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <!-- <ion-card class="info-card" color="theme-sec">
        <ion-card-content class="ion-text-justify fs-12">
            This screen is for Pet Sitters to provide their preferred bank account or Paypal account they want to
            receive PetCloud payments to at the end of the stay.
        </ion-card-content>
    </ion-card> -->
    <div class="data-div">
        <ion-grid>
            <ion-card class="info-card" color="note">
                <ion-card-header>Submit your bank details and then verify your Identity.
                </ion-card-header>
            </ion-card>
            <!-- <ion-row class="ion-no-margin custom-list">
                <ion-col>
                    <h4>Stripe</h4>
                    <p class="fs-12 ion-text-justify">We use Stripe payment gateway to securely process payments for
                        bookings by credit cards.</p>
                    <p class="fs-12 ion-text-justify"> Your first payout may take 2-3 days. (We hate delays as much as
                        you do, but this is out of our hands!). This allows Stripe to mitigate some of the risks
                        inherent in providing credit services.</p>
                    <p class="fs-12 ion-text-justify">

                        Stripe requires us to ask you to upload Government-issued Photo ID, such as a Driver's License
                        or Passport for Verification to comply with regulation. Please upload both Front and Back for
                        Identity verification.
                        Please note we can only accept JPG, JPEG or PNG. Our provider does not accept PDF's
                    </p>
                </ion-col>
            </ion-row> -->
            <!--  -->
            <!-- <ng-container *ngIf="documentContainer">
                <ion-card class="info-card" color="note">
                    <ion-card-header>Step 2. Upload your Identity document.
                    </ion-card-header>
                </ion-card>
                <div class="input-form doc-card">
                    <h4>Identity</h4>
                    <ion-row class="ion-no-margin custom-list">
                        <ion-col size="12">
                            <p class="fs-14 ion-text-justify">Identity document Front <span class="error">*</span></p>
                            <ion-button class="text-capitalize fls-0 fs-18" color="theme"
                                (click)="stripeDocumentUpload('front')">
                                Upload
                            </ion-button>
                        </ion-col>

                        <ion-col size="12">
                            <p class="fs-14 ion-text-justify">Identity document Back</p>
                            <ion-button class="text-capitalize fls-0 fs-18" color="theme"
                                (click)="stripeDocumentUpload('back')">
                                Upload
                            </ion-button>
                        </ion-col>
                    </ion-row>
                </div>
            </ng-container> -->
            <ng-container>
                <ion-card class="info-card" *ngIf="isStripeAccountAdded == false" color="note">
                    <ion-card-header>Step 1. Please Provide your Bank Details.
                    </ion-card-header>
                </ion-card>
                <div class="input-form">
                    <h4 *ngIf="isStripeAccountAdded">Bank Details</h4>
                    <form [formGroup]="stripeFrm">
                        <ion-item>
                            <ion-label position="stacked">Account Name</ion-label>
                            <ion-input type="text" formControlName="accountName"
                                [readonly]="isReadonly(stripeFrm.value.accountName)"></ion-input>
                        </ion-item>
                        <ion-text lines="none" class="animated fadeInUp error"
                            *ngIf="stripeFrm.get('accountName').hasError('required') && stripeFrm.get('accountName').touched">
                            Enter account name!
                        </ion-text>
                        <ion-item>
                            <ion-label position="stacked">BSB</ion-label>
                            <ion-input type="text" formControlName="bsb"
                                [readonly]="isReadonly(stripeFrm.value.bsb)"></ion-input>
                        </ion-item>
                        <ion-text lines="none" class="animated fadeInUp error"
                            *ngIf="stripeFrm.get('bsb').hasError('required') && stripeFrm.get('bsb').touched">
                            Enter BSB code!
                        </ion-text>
                        <ion-item>
                            <ion-label position="stacked">Account Number</ion-label>
                            <ion-input type="text" formControlName="accountNumber"
                                [readonly]="isReadonly(stripeFrm.value.accountNumber)"></ion-input>
                        </ion-item>
                        <ion-text lines="none" class="animated fadeInUp error"
                            *ngIf="stripeFrm.get('accountNumber').hasError('required') && stripeFrm.get('accountNumber').touched">
                            Enter account number!
                        </ion-text>
                        <ion-button class="text-capitalize fls-0 fs-18 footer-btn" color="theme"
                            [disabled]="!stripeFrm.valid || !isEdit" (click)="goToVerification('update_stripe')">
                            Submit
                        </ion-button>
                        <!-- <ion-button class="text-capitalize fls-0 fs-18 footer-btn" color="theme"
                            [disabled]="!stripeFrm.valid || !isEdit" (click)="updateStripe('')">
                            Submit
                        </ion-button> -->
                    </form>
                </div>

                <ion-button class="text-capitalize fls-0 fs-18 footer-btn verify" color="theme" (click)="goToStripe()"
                    *ngIf="!isVerified">Verify
                    Identity
                </ion-button>
            </ng-container>
        </ion-grid>
        <!-- <ion-grid *ngSwitchCase="'paypal'">
            <ion-row>
                <ion-col>
                    <h4>Paypal</h4>
                    <p class="fs-12">
                        Paypal is the least preferred method of payment since Paypal now requires Pet Owners to sign
                        into Paypal or to create a Paypal account to pay for bookings.
                    </p>
                    <p class="fs-12">Feedback has been that this is a frustrating experience for busy Pet Owners</p>
                    <p class="fs-12">
                        If you have not set up a Paypal Account, it is free:
                        <ion-list class="ion-no-padding">
                            <ion-item class="fs-12">Step 1. Sign up on the paypal website</ion-item>
                            <ion-item class="fs-12">Step 2. Link your preferred bank account</ion-item>
                            <ion-item class="fs-12">Step 3. Get Paid!</ion-item>
                        </ion-list>
                    </p>
                    <p class="fs-12">Payments from PetCloud will arrive in your PayPal account 24 hours after the very
                        last minding day.</p>
                    <p class="fs-12">To get paid into your bank account you will need to log into PayPal & withdraw
                        money into your bank account.</p>
                </ion-col>
            </ion-row>

            <div class="input-form">
                <form [formGroup]="paypalFrm">
                    <h4>Paypal Details</h4>
                    <ion-item>
                        <ion-label position="stacked">Paypal Email</ion-label>
                        <ion-input type="email" formControlName="paypal_email"
                            [readonly]="isReadonly(paypalFrm.value.paypal_email)"></ion-input>
                    </ion-item>
                    <ion-text lines="none" class="animated fadeInUp error"
                        *ngIf="paypalFrm.get('paypal_email').hasError('required') && paypalFrm.get('paypal_email').touched">
                        Enter paypal email!
                    </ion-text>
                    <ion-text lines="none" class="animated fadeInUp error"
                        *ngIf="paypalFrm.get('paypal_email').hasError('email')">
                        Enter proper email!
                    </ion-text>
                    <ion-button class="text-capitalize fls-0 fs-18 footer-btn" color="theme"
                        [disabled]="!paypalFrm.valid || !isPaypalEdit" (click)="goToVerification('update_paypal')">Save
                    </ion-button>
                </form>
            </div>
        </ion-grid> -->
    </div>
</ion-content>