<div class="custom-modal-container">
  <div class="custom-modal">
    <div class="header">
      <div (click)="closeModal()"><ion-icon slot="icon-only" name="close"></ion-icon></div>
    </div>
    <div class="custom-modal-body">
      <div class="content">
        
        <ion-img src="../../assets/img/cong_img_5dollar.png" > </ion-img>

        <h3>Congratulations!</h3>

        <h5>You have $5 Promo Balance waiting in your wallet.</h5>

        <ion-button (click)="goToBalanceCheck()" expand="full">Check Your Balance</ion-button>

      </div>
    </div>
  </div>
</div>