@use "sass:math";
ion-content {
  ion-grid {
    padding-left: 0px;
    padding-right: 0px;
    ion-row {
      padding-left: 5px;
      padding-right: 5px;
      border-bottom: 5px solid #efefef;
    }
  }
}

ion-header {
  .search-input {
    background: #ffffff;
    color: #000000;
    --placeholder-color: #888888;
    // border-radius:4px;
    border: none;
    width: 100%;
    height: auto;
    padding: 0.5em;
    border-radius: 3px;
    font-size: 15px;
    border: 1px solid #888;
    -webkit-appearance: none;

    &:focus {
      outline: 0;
    }
  }
  ion-button {
    --box-shadow: none;
  }
  ion-item {
    --background: transparent;
  }

  .filter-btn {
    margin: 0;
    width: 100%;
  }
  .counts {
    color: #ffffff;
  }
}
.card-style-2 {
  box-shadow: none;
  // margin: 30px 16px;
  margin: 0px 0px 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  border-radius: 0;
  > a {
    box-shadow: none;
    margin: 5px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    border-radius: 0;
  }
  ion-card-header {
    position: relative;
    .liked {
      position: absolute;
      top: 0;
      right: 0;
      padding: 0.3em;
      width: 36px;
    }
    ion-img {
      width: 100px;
      height: 100px;
      display: block;
      margin: 0 auto;
      border-radius: 4px;
      overflow: hidden;
      // box-shadow: 0px 0px 4px 2px rgb(99 96 96 / 26%);
    }
  }
  ion-card-content {
    padding: 0 0 0 10px;
    width: 100%;
    overflow: hidden;
    .liked {
      width: 20px;
      -webkit-filter: grayscale(100%);
      filter: grayscale(100%);
    }
    .top {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      .name {
        font-size: 16px;
        color: #fe4164;
        text-transform: capitalize;
        font-weight: 600;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 110px;
        overflow: hidden;
      }
      .amount {
        font-size: 12px;
        color: #888888;
        text-transform: capitalize;
        span {
          font-size: 16px;
          color: #fe4164;
        }
      }
    }
    .title {
      font-weight: 400;
      padding: 5px 0;
      font-size: 16px;
      color: #494949;
      letter-spacing: 0;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
    .address {
      font-size: 12px;
      color: #4a4a4a;
      padding: 5px 0px;
      display: flex;
      align-items: center;
      ion-icon {
        font-size: 16px;
        margin-right: 2px;
      }
    }
    .stats {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin-top: 5px;
      .ratings {
        font-weight: 600;
        font-size: 12px;
        color: #888;
        margin: 0;
        padding-right: 10px;
        ion-icon {
          padding: 0;
        }
      }
      .enquiry-btn {
        --box-shadow: none;
        font-size: 12px;
        text-transform: capitalize;
        height: 25px;
        width: 65px;
        --border-radius: 4px;
      }
    }
  }
  // .date {
  //   font-size: 12px;
  //   color: #494949;
  // }
}

.icons-list {
  display: flex;
  flex-wrap: wrap;
  .img-icon {
    margin-right: 5px;
    margin-bottom: 5px;
    img {
      max-width: 30px;
    }
  }
}
.address img {
  width: 20px;
  margin-right: 5px;
}

.labels-list {
  display: flex;
  flex-wrap: wrap;
  .label-item {
    font-size: 12px;
    padding: 3px 10px;
    border: 1px solid #e0e0e0;
    margin-right: 6px;
    border-radius: 4px;
    margin-bottom: 6px;
  }
}
.availability {
  margin-top: 5px;
  font-size: 12px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  span {
    margin-right: 5px;
    margin-bottom: 5px;
  }
  .label {
    padding: 2px 5px;
    background-color: #e3eff1;
    border-radius: 3px;
  }
}
.dog-details {
  font-size: 12px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  span {
    margin-right: 5px;
    margin-bottom: 5px;
  }
  .bred-details {
    padding: 2px 5px;
    border-radius: 3px;
    border: 1px solid #e0e0e0;
  }
}
.action {
  display: flex;
  justify-content: space-between;
  .liked {
    margin: 0;
    margin-left: 10px;
  }
}
.clients {
  font-weight: 400;
  font-size: 12px;
  color: #888;
  margin: 0;
  // width: calc(100% - 60px);
  @media screen and (max-width: 360) {
    font-size: 8px;
  }
}
.action-btn {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 60px;
}

$particles: 50;
$width: 500;
$height: 500;

// Create the explosion...
$box-shadow: ();
$box-shadow2: ();
@for $i from 0 through $particles {
  $box-shadow: $box-shadow,
    random($width) - math.div($width, 2) + px random($height) - math.div($height, 1.2) + px hsl(random(360), 100%, 50%);
  $box-shadow2: $box-shadow2, 0 0 #fff;
}
@mixin keyframes($animationName) {
  @-webkit-keyframes #{$animationName} {
    @content;
  }

  @-moz-keyframes #{$animationName} {
    @content;
  }

  @-o-keyframes #{$animationName} {
    @content;
  }

  @-ms-keyframes #{$animationName} {
    @content;
  }

  @keyframes #{$animationName} {
    @content;
  }
}

@mixin animation-delay($settings) {
  -moz-animation-delay: $settings;
  -webkit-animation-delay: $settings;
  -o-animation-delay: $settings;
  -ms-animation-delay: $settings;
  animation-delay: $settings;
}

@mixin animation-duration($settings) {
  -moz-animation-duration: $settings;
  -webkit-animation-duration: $settings;
  -o-animation-duration: $settings;
  -ms-animation-duration: $settings;
  animation-duration: $settings;
}

@mixin animation($settings) {
  -moz-animation: $settings;
  -webkit-animation: $settings;
  -o-animation: $settings;
  -ms-animation: $settings;
  animation: $settings;
}

@mixin transform($settings) {
  transform: $settings;
  -moz-transform: $settings;
  -webkit-transform: $settings;
  -o-transform: $settings;
  -ms-transform: $settings;
}

body {
  margin: 0;
  padding: 0;
  background: #000;
  overflow: hidden;
}

back-arrow {
  width: 2rem;
  height: 2rem;
}

.sitter-header {
  padding: 8px;
  padding-bottom: 0;
  .filter-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .show-map {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    color: #52c4be;
    ion-icon {
      margin-right: 5px;
    }
  }
  .more-fliter {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    color: #52c4be;
    ion-icon {
      margin-right: 5px;
    }
  }
  h2 {
    font-size: 20px;
    line-height: 1.4;
    margin: 0;
    color: #fe4164;
    padding: 0 5px;
    margin-top: 10px;
    text-align: center;
  }
  p {
    font-size: 14px;
    margin: 0;
    margin-top: 5px;
    color: #4a4a4a;
    padding: 0 5px;
    margin-bottom: 10px;
    text-align: center;
  }
  .looking-for {
    border: 1px solid #e0e0e0;
    padding-top: 0;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  .address-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    .add-title {
      width: calc(100% - 90px);
      .link-theme {
        padding-right: 5px;
      }
    }
  }
  .map-change-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 1px solid #e0e0e0;
    border-radius: 20px;
    font-size: 14px;
    width: 85px;
    height: 30px;
  }
  .sort-by-select {
    display: flex;
    align-items: center;
    font-size: 14px;
    padding: 5px;
    ion-select {
      font-size: 13px;
    }
    ion-label {
      font-size: 13px;
    }
  }
}

.card-btn-wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  .btn-box {
    width: calc(100% / 3);
    display: flex;
    align-items: center;
    font-size: 12px;
    justify-content: center;
    color: #888888;
    ion-img {
      width: 16px;
      margin-right: 10px;
      color: #888888;
    }
    ion-icon {
      font-size: 20px;
      margin-right: 7px;
    }
    .liked {
      width: 20px;
      -webkit-filter: grayscale(100%);
      filter: grayscale(100%);
    }
  }
}

.main-content {
  margin: 20px 10px;
  box-shadow: 0px 0px 8px rgb(0 0 0 / 10%);
  padding: 10px;
  border-radius: 4px;
}
.reviews {
  margin-left: 4px;
  font-weight: 600;
  font-size: 12px;
  color: #888;
  position: relative;
  top: 3px;
}
.client-updated {
  .repeat {
    color: #52c4be;
    font-size: 12px;
    display: flex;
    align-items: center;
    margin-top: 4px;
    ion-img {
      width: 15px;
      display: inline-block;
      margin-right: 4px;
    }
    @media screen and (max-width: 370px) {
      font-size: 10px;
    }
  }
  p.job-completed {
    font-size: 12px;
    margin-bottom: 5px;
    & + .repeat-client {
      margin-top: 0px;
    }
  }
  span.repeat-client {
    padding: 3px 10px;
    font-size: 12px;
    margin-top: 8px;
    display: inline-block;
    border: 1px solid #52c4bf;
    color: #52c4be;
    border-radius: 3px;
  }
}
