<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>CFBundleDevelopmentRegion</key>
    <string>en_US</string>
    <key>CFBundleDisplayName</key>
    <string>PetCloud</string>
    <key>CFBundleExecutable</key>
    <string>$(EXECUTABLE_NAME)</string>
    <key>CFBundleIdentifier</key>
    <string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>$(PRODUCT_NAME)</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleShortVersionString</key>
    <string>2.6.2</string>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>CFBundleURLTypes</key>
    <array>
      <dict>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>fb2268223460065594</string>
        </array>
      </dict>
      <dict>
        <key>CFBundleTypeRole</key>
        <string>Editor</string>
        <key>CFBundleURLName</key>
        <string>REVERSED_CLIENT_ID</string>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>com.googleusercontent.apps.689365265587-dnh8935gi72tp3lf16fs74lsbuvp1qpd</string>
        </array>
      </dict>
      <dict>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>fb2268223460065594</string>
          
        </array>
      </dict>
    </array>
    <key>CFBundleVersion</key>
    <string>3</string>
    <key>FacebookAppID</key>
    <string>2268223460065594</string>
    <key>FacebookDisplayName</key>
    <string>PetCloud</string>
    <key>FacebookHybridAppEvents</key>
    <string>false</string>
    <key>LSApplicationQueriesSchemes</key>
    <array>
      <string>citymapper</string>
      <string>comgooglemaps</string>
      <string>navigon</string>
      <string>transit</string>
      <string>waze</string>
      <string>yandexnavi</string>
      <string>uber</string>
      <string>tomtomhome</string>
      <string>com.sygic.aura</string>
      <string>here-route</string>
      <string>moovit</string>
      <string>lyft</string>
      <string>mapsme</string>
      <string>cabify</string>
      <string>baidumap</string>
      <string>taxis99</string>
      <string>iosamap</string>
      <string>fbapi</string>
      <string>fb-messenger-api</string>
      <string>fbauth2</string>
      <string>fbshareextension</string>
    </array>
    <key>LSRequiresIPhoneOS</key>
    <true/>
    <key>NSAppTransportSecurity</key>
    <dict>
      <key>NSAllowsArbitraryLoads</key>
      <true/>
      <key>NSExceptionDomains</key>
      <dict>
        <key>m.facebook.com</key>
        <dict/>
        <key>graph.facebook.com</key>
        <dict/>
        <key>api.facebook.com</key>
        <dict/>
        <key>fbcdn.net</key>
        <dict>
          <key>NSIncludesSubdomains</key>
          <true/>
        </dict>
        <key>akamaihd.net</key>
        <dict>
          <key>NSIncludesSubdomains</key>
          <true/>
        </dict>
      </dict>
    </dict>
    <key>NSBluetoothAlwaysUsageDescription</key>
    <string>Our app does not request this permission or utilize this functionality but it is included in our info.plist since our app utilizes the permissions library, which references this permission in its code</string>
    <key>NSBluetoothPeripheralUsageDescription</key>
    <string>Improve location accuracy when finding nearby services.</string>
    <key>NSCalendarsUsageDescription</key>
	<string>Allow this app to use calender to create reminder.</string>
	<key>NSCameraUsageDescription</key>
	<string>The App requests access to the users phone's gallery and camera for Profile photo uploads and for sharing photos of guest pets staying with the pet owner via the App in the Messaging section.</string>
	<key>NSContactsUsageDescription</key>
	<string>Allow this app to access contacts to send SMS</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Allow this app to use your location to find nearby sitters and places</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Allow this app to use your location to find nearby sitters and places</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Allow this app to use your location to find nearby sitters and places</string>
    <key>NSMainNibFile</key>
    <string/>
    <key>NSMainNibFile~ipad</key>
    <string/>
    <key>NSMicrophoneUsageDescription</key>
	<string>Allow this app to use microphone to make call.</string>
	<key>NSMotionUsageDescription</key>
	<string>This app needs your Phones motion manager to update when the phone is tilted. Please allow this App to use your phones tilt devices.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>The App requests access to the users phone's gallery and camera for Profile photo uploads and for sharing photos of guest pets staying with the pet owner via the App in the Messaging section.</string>
	<key>NSRemindersUsageDescription</key>
	<string>Allow this app to access reminders to create new reminders</string>
    <key>UIBackgroundModes</key>
    <array>
      <string>remote-notification</string>
    </array>
    <key>UILaunchStoryboardName</key>
    <string>CDVLaunchScreen</string>
    <key>UIRequiresFullScreen</key>
    <true/>
    <key>UISupportedInterfaceOrientations</key>
    <array>
      <string>UIInterfaceOrientationPortrait</string>
    </array>
    <key>UISupportedInterfaceOrientations~ipad</key>
    <array>
      <string>UIInterfaceOrientationPortrait</string>
      <string>UIInterfaceOrientationLandscapeLeft</string>
      <string>UIInterfaceOrientationPortraitUpsideDown</string>
      <string>UIInterfaceOrientationLandscapeRight</string>
    </array>
    <key>NSPhotoLibraryAddUsageDescription</key>
    <string>The App requests access to the users phone's gallery and camera for Profile photo uploads and for sharing photos of guest pets staying with the pet owner via the App in the Messaging section.</string>
    <key>NSUserTrackingUsageDescription</key>
    <string>Allowing will support Pet Sitters who rely on ads to reach their customers. Helps keep PetCloud's Pet Friendly Directory Free of Charge to search. Anonymous data helps PetCloud to improve our platform.</string>
    
    
    <key>FacebookAutoLogAppEventsEnabled</key>
    <true />
    <key>FacebookAdvertiserIDCollectionEnabled</key>
    <true />
    <key>FirebaseMessagingAutoInitEnabled</key>
    <true/>
  </dict>
</plist>