.profileform {
  ion-item {
    --padding-start: 0;
    --padding-start: 0;
    font-size: 15px;
    --min-height: 40px;
  }
  p {
    margin: 5px 0px 0px;
  }
}
ion-list {
  margin: 0px;
  padding: 0px;
}
.group-title {
  font-weight: 600;
  font-size: 16px !important;
}