<ion-header>
    <ion-toolbar>
        <ion-buttons defaultHref="/get-started" slot="start">
            <ion-back-button>
            </ion-back-button>
        </ion-buttons>
        <ion-title>Basic Profile</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <form [formGroup]="profileForm" class="profileform ion-padding">
        <ion-list>
            <ion-item class="group-title" lines="none">
                <ion-text>Can you tell us, why have you joined PetCloud?</ion-text>
            </ion-item>
            <ion-radio-group formControlName="user_type">
                <ion-item>
                    <ion-label>Find Pet Care Services</ion-label>
                    <ion-radio value="1" color="theme"></ion-radio>
                </ion-item>
                <ion-item>
                    <ion-label>Offer Pet Care Services</ion-label>
                    <ion-radio value="2" color="theme"></ion-radio>
                </ion-item>
                <ion-item>
                    <ion-label>Both</ion-label>
                    <ion-radio value="3" color="theme"></ion-radio>
                </ion-item>
            </ion-radio-group>
            <ion-text lines="none" class="animated fadeInUp" *ngIf="profileForm.get('user_type').hasError('required')">
                <p class="error" *ngIf="profileForm.get('first_name').hasError('required')">
                    Select why you joined Petcloud!
                </p>
            </ion-text>
        </ion-list>

        <ion-list>
            <ion-item>
                <ion-label>Are you an NDIS participant?</ion-label>
                <ion-checkbox formControlName="ndis_participant" (ionChange)="onChangeNDISParticipant($event)"
                    slot="end"></ion-checkbox>
            </ion-item>
        </ion-list>

        <ng-container *ngIf="isNDISParticant">
            <ion-list>
                <ion-item lines="none">
                    <ion-text>How is your plan managed?</ion-text>
                </ion-item>
                <ion-radio-group (ionChange)="planType($event)" formControlName="plan_managed">
                    <ion-item>
                        <ion-label>Self Managed</ion-label>
                        <ion-radio value="1" color="theme"></ion-radio>
                    </ion-item>
                    <ion-item>
                        <ion-label>By a Plan Manager</ion-label>
                        <ion-radio value="2" color="theme"></ion-radio>
                    </ion-item>
                    <ion-item>
                        <ion-label>NDIA-managed</ion-label>
                        <ion-radio value="3" color="theme"></ion-radio>
                    </ion-item>
                </ion-radio-group>
            </ion-list>

            <ion-list *ngIf="showManagerEmail">
                <ion-item>
                    <ion-label position="stacked">Enter Plan Manager Email Address
                        <small class="error">*</small>
                    </ion-label>
                    <ion-input placeholder="Enter Plan Manager Email Id"
                        formControlName="plan_manager_email"></ion-input>
                </ion-item>
                <ion-text lines="none" class="animated fadeInUp"
                    *ngIf="profileForm.get('plan_managed').value == '2' && (profileForm.get('plan_manager_email').hasError('required') && profileForm.get('plan_manager_email').touched)">
                    <p class="error"
                        *ngIf="profileForm.get('plan_managed').value == '2' &&  (profileForm.get('first_name').hasError('plan_manager_email') && profileForm.get('plan_manager_email').touched)">
                        Please enter your plan manager email
                    </p>
                </ion-text>
            </ion-list>
        </ng-container>

        <ion-list>
            <ion-item>
                <ion-label position="stacked">First name
                    <small class="error">*</small>
                </ion-label>
                <ion-input placeholder="Enter First Name" formControlName="first_name"></ion-input>
            </ion-item>
            <ion-text lines="none" class="animated fadeInUp"
                *ngIf="(profileForm.get('first_name').hasError('required') && profileForm.get('first_name').touched)">
                <p class="error"
                    *ngIf="(profileForm.get('first_name').hasError('required') && profileForm.get('first_name').touched)">
                    Enter first name.
                </p>
            </ion-text>
            <ion-item>
                <ion-label position="stacked">Last name
                    <small class="error">*</small>
                </ion-label>
                <ion-input placeholder="Enter Last Name" formControlName="last_name"></ion-input>
            </ion-item>
            <ion-text lines="none" class="animated fadeInUp"
                *ngIf="(profileForm.get('last_name').hasError('required') && profileForm.get('last_name').touched)">
                <p class="error"
                    *ngIf="(profileForm.get('last_name').hasError('required') && profileForm.get('last_name').touched)">
                    Enter last name.
                </p>
            </ion-text>
            <ion-item>
                <ion-label>Gender
                    <!-- <small class="error">*</small> -->
                </ion-label>
                <ion-select placeholder="Select Gender" formControlName="gender">
                    <ion-select-option value="F">Female</ion-select-option>
                    <ion-select-option value="M">Male</ion-select-option>
                </ion-select>
            </ion-item>
            <ion-text lines="none" class="animated fadeInUp"
                *ngIf="(profileForm.get('gender').hasError('required') && profileForm.get('gender').touched)">
                <p class="error"
                    *ngIf="(profileForm.get('gender').hasError('required') && profileForm.get('gender').touched)">
                    Select gender.
                </p>
            </ion-text>

            <ion-text class="link-contrast fs-12" (click)="infoModel('gender')" lines="none">
                <p>Why do I need to provide this?
                    <ion-icon name="information-circle" slot="end"></ion-icon>
                </p>
            </ion-text>


            <ion-item>
                <ion-label position="stacked">DOB
                    <small class="error">*</small>
                </ion-label>
                <ion-datetime display-format="DD/MM/YYYY" picker-format="DD/MM/YYYY" placeholder="e.g 13/12/1989"
                    formControlName="dob">
                </ion-datetime>
            </ion-item>

            <ion-text class="link-contrast fs-12" (click)="infoModel('dob')" lines="none">
                <p>Why do I need to provide this?
                    <ion-icon name="information-circle" slot="end"></ion-icon>
                </p>
            </ion-text>

            <ion-text lines="none" class="animated fadeInUp"
                *ngIf="(profileForm.get('dob').hasError('required') && profileForm.get('dob').touched)">
                <p class="error"
                    *ngIf="(profileForm.get('dob').hasError('required') && profileForm.get('dob').touched)">
                    Select date of birth.
                </p>
            </ion-text>
            <ion-item>
                <ion-label position="stacked">Street Address
                    <small class="error">*</small>
                </ion-label>
                <ion-input type="text" id="street_address" placeholder="Enter Street Address"
                    formControlName="street_address"></ion-input>
            </ion-item>

            <ion-text class="link-contrast fs-12" (click)="infoModel('address')" lines="none">
                <p>My address privacy
                    <ion-icon name="information-circle" slot="end"></ion-icon>
                </p>
            </ion-text>

            <ion-text lines="none" class="animated fadeInUp"
                *ngIf="(profileForm.get('street_address').hasError('required') && profileForm.get('street_address').touched)">
                <p class="error"
                    *ngIf="(profileForm.get('street_address').hasError('required') && profileForm.get('street_address').touched)">
                    Enter street address.
                </p>
            </ion-text>
            <ion-item>
                <ion-label position="stacked">Suburb
                    <small class="error">*</small>
                </ion-label>
                <input class="native-input sc-ion-input-md google-input" [options]='options' type="text"
                    ngx-google-places-autocomplete #placesRef="ngx-places"
                    (onAddressChange)="handleAddressChange($event)" id="suburb" placeholder="Enter keywords"
                    formControlName="address" />
                <!-- <ion-input type="text" id="suburb" [(ngModel)]="googleAddress" (setAddress)="getAddress($event)" placeholder="Enter keywords" [ngModelOptions]="{standalone: true}"> -->
            </ion-item>
            <ion-text lines="none" class="animated fadeInUp"
                *ngIf="(profileForm.get('address').hasError('required') && profileForm.get('address').touched)">
                <p class="error"
                    *ngIf="(profileForm.get('address').hasError('required') && profileForm.get('address').touched)">
                    Enter suburb.
                </p>
            </ion-text>
            <!-- <small>Please select address from dropdown</small> -->
            <ion-item class="cutom-height">
                <ion-label position="stacked">State<small class="error">*</small></ion-label>
                <ion-select placeholder="Select State" formControlName="state">
                    <ion-select-option value="1">ACT</ion-select-option>
                    <ion-select-option value="2">NSW</ion-select-option>
                    <ion-select-option value="3">NT</ion-select-option>
                    <ion-select-option value="4">QLD</ion-select-option>
                    <ion-select-option value="5">SA</ion-select-option>
                    <ion-select-option value="6">VIC</ion-select-option>
                    <ion-select-option value="7">WA</ion-select-option>
                    <ion-select-option value="8">TAS</ion-select-option>
                </ion-select>
            </ion-item>
            <ion-text lines="none" class="animated fadeInUp"
                *ngIf="(profileForm.get('state').hasError('required') && profileForm.get('state').touched)">
                <p class="error"
                    *ngIf="(profileForm.get('state').hasError('required') && profileForm.get('state').touched)">
                    Select state.
                </p>
            </ion-text>
            <ion-item>
                <ion-label position="stacked">Postcode
                    <small class="error">*</small>
                </ion-label>
                <ion-input placeholder="Enter Postcode" formControlName="zipcode"></ion-input>
            </ion-item>
            <ion-text lines="none" class="animated fadeInUp"
                *ngIf="(profileForm.get('zipcode').hasError('required') && profileForm.get('zipcode').touched)">
                <p class="error"
                    *ngIf="(profileForm.get('zipcode').hasError('required') && profileForm.get('zipcode').touched)">
                    Enter correct postalcode.
                </p>
            </ion-text>
            <ion-item>
                <ion-label position="stacked">Email
                    <small class="error">*</small>
                </ion-label>
                <ion-input type="email" placeholder="Enter Email Address" formControlName="email"></ion-input>
            </ion-item>
            <ion-text lines="none" class="animated fadeInUp"
                *ngIf="(profileForm.get('email').hasError('required') && profileForm.get('email').touched)">
                <p class="error"
                    *ngIf="(profileForm.get('email').hasError('required') && profileForm.get('email').touched)">
                    Enter proper email address format.
                </p>
            </ion-text>
            <ion-item>
                <ion-label position="stacked">Home Phone</ion-label>
                <ion-input placeholder="Enter Home Phone" formControlName="phone"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="stacked">Mobile Number in International Format
                    <small class="error">*</small>
                </ion-label>
                <ion-input placeholder="+61400111222" type="tel" formControlName="mobile"
                    [readonly]="isReadonly(profileForm.value.mobile)"></ion-input>
            </ion-item>
            <ion-text lines="none" class="animated fadeInUp"
                *ngIf="(profileForm.get('mobile').hasError('required') && profileForm.get('mobile').touched)">
                <p class="error">
                    Enter mobile phone number.
                </p>
            </ion-text>
            <ion-text lines="none" class="animated fadeInUp"
                *ngIf="(profileForm.get('mobile').hasError('pattern') && profileForm.get('mobile').touched)">
                <p class="error">
                    Enter proper mobile phone number start with +61.
                </p>
            </ion-text>
        </ion-list>
    </form>
</ion-content>
<ion-footer class="ion-no-border">
    <ion-button class="text-capitalize fls-0 fs-18 footer-btn" expand="full" [disabled]="!profileForm.valid"
        color="theme" (click)="goToVerification()">
        Save & Next
    </ion-button>
</ion-footer>