<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home/tabs/explore"></ion-back-button>
    </ion-buttons>

    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <div class="maintanance-screen">
    <img src="../../assets/img/petCloud_logo_fushia.png" alt="">
    <p>
      PetCloud is currently undergoing maintenance. We will be back soon. If you have any inquiries, please contact <span (click)="sendEmail()">service@petcloud.com.au</span> 
    </p>
  </div>
  
</ion-content>
