<!-- <ion-header>
  <ion-toolbar>
    <ion-title>forceupdate</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <div class="update-screen">
    <img src="../../assets/img/monogram.svg" alt="">
    <p>
      We have tightened some nuts n' bolts behind the screens so that we can make PetCloud better.
    </p>
    <h4>Please click on Update button to update the App</h4>
    <ion-button fill="solid" color="white" shape="round" size="large" class="theme-btn" (click)="updateApp()">
      Update for Free 
    </ion-button>
  </div>
  
</ion-content>
