.setting-item {
    padding: 15px;
    clear: both;
}
.setting-item.days ion-item {
    display: flex;
    width: 50%;
    float: left;
}
.close-btn {
    font-size: 20px;
    padding-right: 9px;
}
.action-btn {
    text-align: center;
    ion-button {
        border: 2px solid #fe4164;
        --box-shadow: none;
        width: 92%;
        margin: 0px;
        text-transform: unset;
        font-size: 14px;
        font-weight: 600;
        margin-bottom: 23px;
        --background: transparent;
        color: #fe4164;
    }
}
.invalid {
    padding: 0 19px;
    color: red;
}
