<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="closeModal()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button  (click)="needSupport()" defaultHref="/home/tabs/profile-menu">
        <img width="25px" src="./assets/icon/solutions.png" alt="">
      </ion-button>
  </ion-buttons>

    <ion-title>Add Bank Detail</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding animated fadeIn">

  <ng-container *ngIf="isBankDetailShown">

    <div class="card-list">
      <div class="item">
        <div class="details">
          <h4 class="description">{{accountNo}}</h4>
          <h4 class="description">{{bankName}}</h4>
        </div>
        <div class="card-data">
          <h4 (click)="transferNow()" class="card-no">Transfer Now</h4>
        </div>
      </div>
    </div>

    <div class="update-bank-container">
      <ion-button 
      class="ion-no-margin"
      expand="full"
      color="theme"
      (click)="toggleBankAccount()">
      Update Bank Account
      </ion-button>
    </div>
   
   

  </ng-container>
 
  
  <ng-container  *ngIf="showBankForm">
    <form [formGroup]="addBank">
      <ion-item>
        <ion-label position="stacked">Account Name <small class="error">*</small></ion-label>
        <ion-input placeholder="Name on card" type="text" name="accountName" formControlName="accountName"></ion-input>
      </ion-item>
      <ion-text lines="none" class="animated fadeInUp error"
        *ngIf="addBank.get('accountName').hasError('required') && addBank.get('accountName').touched">
        Enter account name
      </ion-text>
  
  
      <ion-item>
        <ion-label position="stacked">BSB Number <small class="error">*</small></ion-label>
        <ion-input placeholder="Enter BSB Code" type="number" name="bsb" formControlName="bsb">
        </ion-input>
      </ion-item>
      <ion-text lines="none" class="animated fadeInUp error"
        *ngIf="addBank.get('bsb').hasError('required') && addBank.get('bsb').touched">
        Enter BSB Number
      </ion-text>
  
      <ion-item>
        <ion-label position="stacked">Enter Account Number <small class="error">*</small></ion-label>
        <ion-input placeholder="Enter Account Number" type="tel"  formControlName="accountNumber"></ion-input>
      </ion-item>
      <ion-text lines="none" class="animated fadeInUp error"
        *ngIf="addBank.get('accountNumber').hasError('required') && addBank.get('accountNumber').touched">
        Enter Account Number
      </ion-text>
  
      <ion-item>
        <ion-label position="stacked"> Amount <small class="error">*</small></ion-label>
        <ion-input readonly type="number" name="cvv" formControlName="amount"></ion-input>
      </ion-item>
    </form>  
  </ng-container>
</ion-content>


<ion-footer *ngIf="showBankForm">
  <ion-button 
    class="ion-no-margin footer-btn"
    expand="full"
    color="theme"
    [disabled]="!addBank.valid"
    (click)="addBankDetails()"
  >
    Add Bank
  </ion-button>


</ion-footer>

