<ion-header class="fixtop">
  <ion-toolbar mode="ios" color="transparent">
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid class="no-padding bg-bookthanks">
    <ion-row class="h-100 ion-align-items-center">
      <ion-col size="12" class="m-100">
        <div class="img">
          <ion-img src="assets/img/check.png"></ion-img>
        </div>  
        <div class="heading text-center text-white">
          <h3 class="title text-bold">Thanks, Deb!</h3>
          <p class="desc text-center">You are ready to Book.</p>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <div class="fix-bottom">
    <ion-button expand="full" color="theme" size="large" href="/confirm-payment">Proceed Payments</ion-button>
  </div>
</ion-content>