ion-card {
    box-shadow: none;
    margin: 0px;
}

ion-item {
    --padding-start: 0px;
    --inner-padding-end: 0px;
    --min-height: 75px;
}
ion-textarea {
    border: 1px solid #dedede;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 16px;
}
ion-row, ion-col {
    padding: 0px;
    margin: 0px;
}
.time-col {
    padding-left: 5px;
}
.date-col {
    padding-right: 5px;
}
.look-input-item .look-input {
    padding: 10px 0 11px;
  }
.submit-btn {
    margin: 16px 0px 0px;
    width: 100%;
    --border-radius: 8px;
    font-weight: 400;
    --box-shadow: none;
    white-space: normal;
    text-transform: capitalize
};