<ion-header>
  <ion-toolbar>    
    <ion-title>Modify Booking</ion-title>
    <ion-buttons slot="end">
      <ion-button color="medium" (click)="closeModal('no')">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding animated fadeIn">
  <ion-card color="theme-sec">
    <ion-card-content>
      <ion-text>
        Please provide the details for modifying the booking*
      </ion-text>
    </ion-card-content>
  </ion-card>
    <form [formGroup]="BookingModifyForm">
      <ion-row>
        <ion-col class="date-col" (click)="openFromDateCalender('from_date')" size="6">
            <ion-item class="look-input-item">
                <ion-label position="stacked">Start Date<small class="error">*</small></ion-label>
                <div class="look-input">
                    {{lbl_formatedStartDate | date: 'EEE dd MMM yyyy'}}
                </div>
            </ion-item>
            <ion-text class="animated fadeInUp error"
                *ngIf="BookingModifyForm.get('start_date').hasError('required')">
                Select start date.
            </ion-text>
        </ion-col>
        <ion-col class="time-col" size="6">
            <ion-item>
                <ion-label position="stacked">Start Time <small class="error">*</small></ion-label>
                <ion-datetime #startFromTimePicker display-format="h:mm A" [value]="startMinTime"
                  placeholder="9:15 AM" picker-format="h:mm A"
                  formControlName="start_time" minuteValues="0,15,30,45"
                >
                </ion-datetime>
            </ion-item>
            <ion-text class="animated fadeInUp error"
                *ngIf="BookingModifyForm.get('start_time').hasError('required') && (BookingModifyForm.get('start_time').touched || BookingModifyForm.get('start_time').dirty)">
                Select start time.
            </ion-text>
            <ion-text class="animated fadeInUp error"
                *ngIf="!isValidFromTime().isValidStart && BookingModifyForm.get('start_time').touched">
                The start time must be more than 1 hour from now.
            </ion-text>
        </ion-col>
    </ion-row>

    <ion-row>
        <ion-col class="date-col" (click)="openToCalender('end_date')" size="6">
            <ion-item class="look-input-item">
                <ion-label position="stacked"> End Date <small class="error">*</small></ion-label>
                <div class="look-input">
                    {{lbl_formatedEndDate | date: 'EEE dd MMM yyyy'}}
                </div>
            </ion-item>

            <ion-text class="animated fadeInUp error"
                *ngIf="BookingModifyForm.get('end_date').hasError('required') ">
                Select end time.</ion-text>
            <ion-text class="animated fadeInUp error"
                *ngIf="!isValidFromTime().isValidEndDate">
                The end date must be greater than start date.
            </ion-text>
        </ion-col>

        <ion-col class="time-col" size="6">
            <ion-item>
                <ion-label position="stacked"> End Time<small class="error">*</small></ion-label>
                <ion-datetime display-format="h:mm A" placeholder="9:15 AM" picker-format="h:mm A"
                    formControlName="end_time" [value]="startTotime" minuteValues="0,15,30,45"></ion-datetime>
            </ion-item>

            <ion-text class="animated fadeInUp error"
                *ngIf="BookingModifyForm.get('end_time').hasError('required') && (BookingModifyForm.get('end_time').touched || BookingModifyForm.get('end_time').dirty)">
                Select end time.</ion-text>
            <ion-text class="animated fadeInUp error"
                *ngIf="!isValidFromTime().isValidEndTime && (BookingModifyForm.get('end_time').touched || BookingModifyForm.get('end_time').dirty)">
                The end time must be more than 1 hour from start time.
            </ion-text>
        </ion-col>
    </ion-row>
    <ion-item lines="none">
      <ion-label position="stacked">Description</ion-label>
      <ion-textarea placeholder="Enter description" formControlName="details" cols="4"></ion-textarea>
    </ion-item>   
    <ion-text class="animated fadeInUp error"
      *ngIf="BookingModifyForm.get('details').hasError('required') && (BookingModifyForm.get('details').touched || BookingModifyForm.get('details').dirty)"
    >
      Enter the description for modifying the booking
    </ion-text>
    <ion-button class="submit-btn"
      [disabled]="!BookingModifyForm.valid"
      color="theme"
      (click)="sendRequest()"
    >
      Send Request
    </ion-button>
  </form> 
</ion-content>