<ion-header class="ion-no-border" no-shadow>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="closeModal()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Vaccination Explaination</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div style="padding: 10px;text-align: start;">
    <span class="fs-16 text-theme" >Parainfluenza virus (PI).</span> 
    <p class="title"> This very contagious but non-life-threatening virus is one of the causes of “kennel cough”. It infects the respiratory system and can be especially devastating to dogs with weak immune systems like puppies and older dogs. It is usually given to dogs who are frequently exposed to other dogs like those being boarded or in a dog show.</p>

   <span class="fs-16 text-theme" > Bordetella bronchiseptica (Bb).</span> 
   <p class="title">This is another cause of kennel cough, although this time a bacteria is to blame. Like PI, this is a non-life-threatening respiratory illness that is commonly found in dogs who are frequently exposed to other dogs.</p> 
   <span class="fs-16 text-theme" >Leptospira interrogans (LI). </span>
   <p class="title">This is a bacteria that is spread through the urine of wild animals (like rodents) and through water that carries the urine. Therefore it is more common in areas with lots of wildlife, high rainfall or both. In many cases the infection is mild, but in severe cases, it can lead to meningitis and death. <br> 
    If your vet thinks your pup needs these non-core vaccines, they’ll give them to your pup at the same time as the C3.</p>
  </div>



</ion-content>