ion-title{
  .logo{
    height: 2rem;
  }
}
.detail-item.icon-details.czMargin {
  margin-top: 12px;
}
h4.detail-label {
  font-weight: 600 !important;
    color: #000 !important;
    margin: 0 0 4px;
}
ion-toolbar{
      ion-img{
        &.custom-icon{
          max-width: 24px;
        }
      }
  }
  ion-card.note-card {
    margin: 12px 0 15px;
    box-shadow: none;
}
ion-card.note-card ~ ion-row {
  padding: 5px 0;
}
.labelPinkH4{
  color: #fd4164;
}
.user{
  .user-info{
    display: flex;
    flex-direction: row;
    align-items: center;
    .user{
      font-weight: 600;
      font-size: 14px;
      color: #4A4A4A;
      letter-spacing: 0;
      margin-top:0;
      margin-bottom: 0;
      margin-right: 10px;  
    }
    .ratings{
      font-size: 12px;
      color: #888888;
      letter-spacing: 0;
      line-height: 14px;
      margin-top:0;
      margin-bottom: 0px;
      zoom: 1.5;
      display: flex;
      ion-img{
        margin-right: 3px;
        width: 15px;
      }
    }
  }
  .area{
    font-weight: 600;
    font-size: 12px;
    color: #FE4164;
    letter-spacing: 0;
    line-height: 14px;
    margin: 0;
  }
  .title {
    font-weight: 600;
    font-size: 18px;
    color: #4a4a4a;
    margin: 0;
    text-align: center;
  }
  .user-feature{
    p{
      font-size: 12px;
      color: #888888;
      letter-spacing: 0;
      margin-top:0;
      margin-bottom: 5px;
      .counts{
        color:#FE4164;
        font-weight: 600;
      }
    }
  }
  .item-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    &.preferences-list {
      .item {
          width: 70px;
          margin-right: 10px;
          img{
            width: 40px;
          }
          p{
              font-size: 10px;
          }
      }
  }
    .item {
      width: 40px;
      ion-thumbnail{
        margin:0 auto;
        display: block;
      }
      .title {
        margin: 0;
        font-size: 10px;
        color: #4a4a4a;
        font-weight: 400;
        line-height:1.2;
      }
    }
    &.rounded {
      .item {
        img {
          border-radius: 25px;
        }
      }
    }
  }
  .sub-heading {
    font-weight: 600;
    font-size: 14px;
    color: #000;
    letter-spacing: 0;
    line-height: 16px;
    margin: 0 0 4px;
  }
  .desc {
    font-weight: 400;
    font-size: 14px;
    color: #888888;
    margin: 0 0 10px;
  }
  .service-heading {
    font-weight: 600;
    font-size: 18px;
    color: #4a4a4a;
    margin: 0 0 5px;
  }
  .service-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    li {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      p {
        margin: 0;
        font-weight: 400;
        font-size: 14px;
        color: #4a4a4a;
        strong{font-weight: normal;}
      }
    }
  }
  .detail-list{
    .detail-item{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 5px 0;
      &.icon-details {
        flex-wrap: wrap;
        .big-content{
            width: 100%;
            display: flex;
            margin-top: 0px;
            // border-top: 1px solid #e0e0e0;
            // border-bottom: 1px solid #e0e0e0;
            padding: 5px;
            flex-wrap: wrap;
            .item{
                display: flex;
                margin-right: 16px;
                align-items: center;
                padding: 6px;
                width: 45%;
                img{
                    width: 20px;
                    margin-right: 10px;
                }
                h5{
                    font-size: 12px;
                    font-weight: 400;
                    color: #666;
                    margin: 0;
                }
            }
        }
    }
      .detail-label{
        font-size: 14px;
        color: #4A4A4A;
        letter-spacing: 0;
        line-height: 16px;
      }
      .content{
        font-weight: 600;
        font-size: 14px;
        color: #4A4A4A;
        letter-spacing: 0;
        text-align: right;
        line-height: 16px;
      }
    }
  }
}

ion-slides{
  ion-slide{
    max-height:300px;
    .slider-image {
      width: 100%;
  }
  }
}
.label-image{
  width: 30px;
  margin: auto;
  ion-thumbnail{
    width: 100%;
    img{
      height: auto;
    }
  }
}
.review-item{
  display: flex;
  flex-direction:row;
  .review-profile{
    padding-right: 10px;
    img, ion-img{
      max-width:60px;
      margin-top: 15px;
    }
    ion-img{
      margin-bottom: 5px;
       margin-top: 5px;
    }
    .review-user{
      font-weight: 500;
      font-size: 12px;
      color: #4A4A4A;
      letter-spacing: 0;
      text-align: center;
      line-height: 18px;
      margin-top:0;
    }
  }
  .review-info{
    .review-count{
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      .star{padding-right: 10px;}
     
    }
    .review-content{
      font-size: 14px;
      color: #4A4A4A;
      letter-spacing: 0;
    }
  }

  .date{
    font-size: 12px;
    color: #888888;
    letter-spacing: 0;
    margin:0;
    margin-top: 10px;
    display: block;
  }
}



.calendar-info{
  display: flex;
  flex-direction: row;
  padding:10px 20px;
  align-items: center;
  .symbol{
    display: block;
    width: 30px;
    height: 30px;
    background-color: #000000;
    border-radius: 50%;
    margin-right: 10px;
  }
  .msg{
    font-size: 14px;
    color: #4A4A4A;
    letter-spacing: 0;
    line-height: 18px;
  }

  .symbol-today{
    display: block;
    width: 30px;
    height: 30px;
    background-color: #52c3be;
    border-radius: 50%;
    margin-right: 10px;
  }

  .symbol-available{
    display: block;
    width: 30px;
    height: 30px;
    border:1px solid black;   
    background-color: #ffffff;
    border-radius: 50%;
    margin-right: 10px;
  }

  .symbol-limited{
    display: block;
    width: 30px;
    height: 30px;
    background-color: #ffefdd;
    border-radius: 50%;
    margin-right: 10px;
  }

  .symbol-unavailable{
    display: block;
    width: 30px;
    height: 30px;
    background-color: #f99999;
    border-radius: 50%;
    margin-right: 10px;
  }

}

.bred-details{
  padding: 2px 5px;
  border-radius: 3px;
  border: 1px solid #e0e0e0;
}




:host ::ng-deep .days-btn.unavailableDays{ 
  background-color: #f99999 !important; 
  p{ 
    color: white !important; 
  } 
}

:host ::ng-deep .days-btn.limitedDays {
  background-color: #ffefdd !important; 
  p{ 
    color: white !important; 
  } 
}

:host ::ng-deep .days-btn.today{
  background-color: black !important; 
  p{ 
    color: white !important; 
  } 
}

.bread-type{
  .item-list{
      ul{
          margin: 0;
          padding: 0;
          list-style: none;
          display: flex;
          flex-wrap: wrap;
          li{
              padding: 5px 12px;
              background-color: rgba(254, 65, 100, 0.15);
              margin-right: 5px;
              font-size: 14px;
              border-radius: 30px;
              color: #fe4164;
              margin-bottom: 5px;
          }
      }
  }
}

.user-profile-container {
  position: relative;
  z-index: 99;
  border-bottom: 5px solid #e0e0e0;
  margin-bottom:12px;
  .user-profile-image {
      max-width: 120px;
      margin: -50px auto auto;
      border: 5px solid #fff;
      border-radius: 5px;
      margin-bottom: 10px;
  }
  .item-list {
    border-top: 5px solid #e0e0e0;
    padding-top: 10px;
  }
  .user-info {
      flex-direction: column;
      align-items: center;
      .user {
          margin-bottom: 2px;
          
      }
      .radings-custom {
        margin: 5px;
      }
      .ratings {
              margin-bottom: 5px;
          }
      .area{
          font-weight: 400;
          margin-bottom: 5px;
      }
      .title{
          font-size:16px;
          margin: 0;
          margin-bottom: 15px;
      }
      .profion{
        font-size: 14px;
        margin: 0;
        // margin-bottom: 10px;
        font-weight: 400;
        opacity: 0.5;
      }
  }
}

.data-div {
  padding-bottom: calc(env(safe-area-inset-bottom) + 10px);
}

.swiper-button-black {
  height: 35px;
  width: 35px;
  background-color: white;
  background-size: 20px 20px;
  border-radius: 50%;
  opacity: 0.7;
}
.height-10 {
  border-bottom: 5px solid #e0e0e0;
}