.custom-list{
    ion-item{
      --padding-start:0;
      font-size: 15px;
      --min-height: 40px;
    }
}

.theme-text{
    color: #FE4164;
  }
  .theme-text-no{
    color: grey;
  }
  .pet-list {
    margin-top: 10px;
    .pet-list-title {
      font-weight: 600;
      font-size: 16px;
    }
  }
  .setIcon {
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--ion-item-border-color, var(--ion-border-color, var(--ion-color-step-150, rgba(0, 0, 0, 0.13))));
    justify-content: space-between;
    min-height: 54px;
}