ion-tabs {
  ion-tab-button {
    --color: #4a4a4a;
    --color-selected: #4a4a4a;

    .tab-title {
      font-size: 9px;
      font-weight: 600;
      white-space: nowrap;
    }
  }
}

@media (min-width: 375px) {
  ion-tabs {
    ion-tab-button {
      .tab-title {
        font-size: 12px;
        font-weight: 400;
        white-space: nowrap;
      }
    }
  }
}

.tab-selected{
  ion-label{
    color: #FE4164;
  }
}

// ion-icon.theme {
//   fill: #fe4164;
// }

// .tab-selected ion-icon {
//   fill: #fe4164;
//   color: #fe4164;
// }


.menu-icon{
  max-width: 30px;
  margin-bottom: 5px;
}

.home-tabs {
  margin-top: 75px;
}

.notification-container {
  padding: 10px;
  color: #856404;
  background-color: #fff3cd;

  .notification-title {
    margin: 0;
    font-size: 14px;
  }

  .notification-desc {
    margin: 0;
    font-size: 12px;
  }
}